.PERNpage {
  height: 100%;
  width: 100vw;
  background-color: #202735;
}

.projectCtn {
  background-color: #c6c8cb !important;
  z-index: 9999;
  height: 20vh;
  
}
.projects {
  color: #cfb807bc !important;
  font-size: 70px !important;
  z-index: 99999;
  left: 35%;
  position: absolute;
  /* font-family: cursive; */
}
.project-1 {
  height: 100%;
  margin-bottom: 10%;
}
.projects-Mobile {
  font-size: 50px !important;
  z-index: 99999;
  left: 5%;
  position: absolute;
}
.project-2 {
  padding: 3.5%;
  background-color: #202735;
  height: 100%;
}
.orcaProjWrapper {
  display: flex !important;
  flex-direction: row !important;
  height: 700px;
  align-items: center;
  padding: 2.5%;
  background-color: #202735;
  border-radius: 15px;
  box-shadow: 2.2px 0.6px 2px 0.6px #c8f536;
  margin-bottom: 20%;
}
.bakeryProjWrapper {
  display: flex !important;
  flex-direction: row !important;
  background-color: rgba(248, 248, 246, 0.554);
  height: 700px;
  align-items: center;
  transition: 0.6s all ease;
  padding: 2.5%;
}
.BgColorChange {
  background-color: #202735;
  display: flex !important;
  flex-direction: row !important;
  height: 700px;
  align-items: center;
  transition: 0.6.5s all ease;
  padding: 1%;
}
.orcaH1Span {
  color: #f04e4e;
  font-size: 60px;
  background-color: #202735;
  border-radius: 10px 2px;
}
.orcaProjecth1 {
  color: #202735;
  font-size: 40px;
  z-index: 9999;
}

.orcaImg {
  z-index: 9999;
  width: 50%;
  left: 5%;
}
.OrcatechStack {
  color: #202735;
  background-color: azure;
  border-radius: 5px;
}
.bakeryDetails-Span{
  font-size: 25px;
}






@media only screen and (max-width: 600px) {
  .orcaProjWrapper {
    display: block !important;
    padding: 3.5%;
  }
  .bakeryProjWrapper {
    display: block !important;
    padding: 3.5%;
  }
  .BgColorChange {
    display: block !important;
    padding: 1%;
  }
  .orcaImg {
    width: 100%;
  }
  .orcaH1Span {
    font-size: 55px;
    font-weight: bold;
    background-color: transparent;
  }
  .projectCtn {
    margin-top: -3.5%;
    background-color: #202735 !important;
    margin-bottom: 20%;
  }
  .projects-Mobile{
    top: 125.0%;
    color:#e2e1d2 !important;
  }
  .project-1 {
    position: relative;
  }
  .bakeryDetails {
    position: absolute;
    top: 37%;
    width: 100%;
  }
  .projects-Mobile {
    margin-top: 15%;
  }
  .aboutme-h5 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 965px){
  .projects {
    color: #12100193 !important;
    font-size: 85px !important;
    z-index: 99999;
    left: 30%;
    position: absolute;
   /*  font-family: cursive; */
    bottom:-15%
  }
}
@media only screen and (min-width: 1300px){
  .projects {
    color: #cfb807bc !important;
    font-size: 70px !important;
    left: 37%;
    position: absolute;
    bottom:-60%;
    border-bottom:2px solid grey !important;

  }
  .projectCtn{
    border-bottom:1px solid grey !important;
    height:20vh;
    margin-bottom: 10%;

    
  }
}