.aboutme-page{
    position:sticky;
    height:50vh;
    background-color: #212734;
    /* background-image: url("../assets/githubSum.png");
    background-attachment: fixed;
    background-size: cover; */
    
}
.contact-outer{
  width:100vw;
  justify-content: space-evenly;
}
