.aboutme-page{
    position:sticky;
    height:100vh;
    background-image: url("../assets/githubSum.png");
    background-attachment: fixed;
    background-size: cover;
    
}
.aboutMe-pic{
  top: 50%;
  left: 50%;
  
  opacity:1;
  display:none;
}
