.slogan-ctn {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  margin-top: 5%;
  position: static;
  z-index: 1;
  
}
.slogan-wrapper {
  right: 40%;
  position: absolute;
}
.slogan-main {
  font-size: 70px;
  font-weight: bold;
  margin-left: 10%;
  width: 100%;
}

.my-pic {
  border-radius: 35px;
  position: fixed;
  left: 70%;
  opacity: 0.7;
  width: 35%;
}

.mobile-header {
  font-weight: bold;
  width: 100vw;
  margin-left: 40%;
  padding: 1%;
  font-size: 40px;
}
.mobile-pic {
  width: 30%;
  margin-top: 50%;
  position: absolute;
  z-index: 9999;
  overflow-x: hidden;
}
.mobile-projects-btn {
  position: absolute;
  z-index: 9999;
}












@media only screen and (max-width: 650px) {
  
  .bannerPageWrapper img{
    width:50%;
  }
  .bannerPageWrapper{
    width: 100% !important;
    position: relative;
  }
  .aboutMeMobile{
    top:-45%;
    position: absolute;
    text-align: center;
    background-color: rgba(32, 9, 163, 0.197);
    width:100%;
  }
  .mobileBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}

/* For Ipad media size */
@media only screen and (min-width: 765px) {
  .my-pic {
    border-radius: 15px;
    position: absolute !important;
    left: 50%;
    opacity: 0.7;
    top: 22%;
  }
  .banner-btns-sm {
    margin-top: 20%;
    position: absolute;
    left: 25%;
    width: 50vw;
  }
  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 850px) {
  .banner-btns-sm {
    z-index: 999;
    overflow-x: hidden;
    position: absolute;
    left: 55%;
    top: 65%;
    justify-content: space-evenly;
    display: block;
    height: 40vh;
  }
  .bannerPageWrapper{
    width: 100% !important;
    position: relative;
  }
}

/* for desktop */
@media only screen and (min-width: 965px) {
  .my-pic {
    border-radius: 15px;
    position: absolute;
    left: 50%;
    opacity: 0.7;
    top: 35%;
    overflow-x: hidden;

  }
  .slogan-wrapper {
    left: -10%;
    z-index: 9999;
    text-align: left;
    padding: 5%;
    margin-top: -10%;
  }
  .slogan-ctn h1 {
    font-size: 65px;
  }
  .slogan-main {
    font-size: 58px !important;
    width: 68.8vw;
    padding: 10%;
    margin-top: 5%;
  }
  .banner-btns {
    left: 58% !important;
    top: 60.5% !important;
    position: absolute;
  }
  .btn-lg{
    border-radius: 28px !important;
  }
}

/* --animation bg-- */

ul {
  height: 50px;
  float: right;
}

.animation-area {
  background: rgb(15, 16, 47);
  background: linear-gradient(
    90deg,
    rgba(15, 16, 47, 1) 16%,
    rgba(29, 33, 39, 1) 71%
  );
  width: 100%;
  height: 100vh;
  z-index: -99;
}
.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1) {
  left: 86%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 10px;
  height: 10px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 10px;
  height: 10px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 42%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 15%;
  width: 20px;
  height: 20px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.spanSWE {
  background-image: linear-gradient(
    90deg,
    rgba(193, 177, 205, 1) 19%,
    rgba(107, 103, 192, 0.978) 41%,
    rgba(210, 7, 7, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
.banner-btns {
  height: 90px;
  display: flex !important;
  justify-content: space-around;
  align-items: center !important;
  position: absolute;
  top: 75%;
  width: 34vw;
  left: 65%;
  z-index: 999;
}
.aboutMe {
  position: absolute;
  top: 50%;
  z-index: 9;
  padding: 5.5%;
  width: 60vw;
}
.aboutMeMobile {
  position: absolute;
  top: 40%;
  z-index: 9;
  padding: 5.5%;
  width: 60vw;
}

@media only screen and (min-width: 1281px) {
  .slogan-wrapper {
    padding: 0;
    margin-top: 2%;
    left: 0.5%;
    z-index: 0;
  }
  .slogan-main {
    font-size: 80px !important;
    position: absolute;
    right: -14%;
    top: -100px;
  }
  .my-pic-container {
    left: 50%;
    padding: 5%;
    top:-10%
  }
  .slogan-ctn h1 {
    font-size: 75px;
  }

  .banner-btns {
  /*   background-color: #20289165; */
    position: absolute;
    border-radius: 15px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin-left:2.5%;
    
    
  }
  .aboutMe{
    top:48%
  }
}
/* --floating-- */
.my-pic-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  right: 1%;
  bottom: 5%;
  left: 10%;
}
.my-pic {
  position: relative;
  animation-name: float;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
