/* --Hamza brand css-- */
.button {
  cursor: pointer;
  position: relative;
  text-align: center;
  display: block;
  width: 130px;
  border: none;
  font-size: 12px;
  height: 45px;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  overflow: hidden;
  box-shadow: 0 10px 50px #006eff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.button .ten {
  line-height: 52px;
}
.button:hover {
  color: white !important;
}

.button:hover .slidein {
  left: 0%;
}

.button:hover .two {
  left: 0%;
  transition-delay: 0.5s;
}

.button:hover .three {
  left: 0%;
  transition-delay: 1s;
}

.button:hover .four {
  left: 0%;
  transition-delay: 2s;
}

.button:hover .five {
  left: 0%;
  transition-delay: 3s;
}

.button:hover .six {
  left: 0%;
  transition-delay: 4s;
}

.button:hover .seven {
  left: 0%;
  transition-delay: 5s;
}

.button:hover .eight {
  left: 0%;
  transition-delay: 6s;
}

.button:hover .nine {
  left: 0%;
  transition-delay: 7s;
}

.button:hover .ten {
  left: 0%;
  transition-delay: 8s;
}

.button .slidein {
  background: #d0d3d5;
  left: -100%;
  z-index: 2;
}

.button a {
  text-transform: capitalize;
  transition: left 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  position: absolute;
  font-weight: bold;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.slidein:nth-child(even) {
  background: #ff014f !important;
}

.slidein:nth-child(odd) {
  background: #ea8927 !important;
}
.first {
  color: #ff014f !important;
}

/* --Hamza brand css END-- */
.nav-link {
  color: white !important;
  border-radius: 15px;
  width: 10vw;
  text-align: center;
}
.nav-link:hover {
  background-color: #8b868286;
  border-radius: 15px;
  transition: 0.5s;
}
.navbar-nav {
  background-color: #dfe4e912;
  width: 90%;
  margin-left: 5%;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: space-around;
}
.navbar-toggler-icon {
  color: white !important;
  background-color: #7f7173ec;
  border-radius: 5px;
}
nav {
  position: sticky !important;
  top: 0px !important;
  z-index: 9999;
  background-color: #273044;
}
.toggle{
  z-index:9999
}
@media only screen and (min-width: 1281px) {
  .navBar{
    position: fixed !important;
    width:100%;
    z-index:99999;
  }
}